.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar.open {
    transform: translateX(0);
}

.close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


.header {
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 10px;
    height:15%;
    background-color: #02024e;
}

.hamburger {
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
        top: 20px;
        left: 20px;
        z-index: 1100;
}

.headerTitle {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 16px 0;
}

.nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}




.main {
    height: 300px;
}

.gift{
    height: 300px;
}

.photo {
    width: 100%;
    height: 300px;
    background-color: #f1f0f0;
    display: flex;
    justify-content: center;   /* 가로 가운데 */
    align-items: center;       /* 세로 가운데 */
}

.slider {
    width: 100%;
    height: 220px;
    background-color: #000000;
}

.gift {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    gap: 16px;                /* 이미지 사이 간격 */
    padding: 20px;
    background-color: #ffffff;
}

.gift img {
    width: 100px;
    height: auto;
}

.photoBooth{
    height:300px;
}
.photoBooth *{
    margin:50px;
}
